<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
        <h3>in the Servers component now</h3>
        <!-- [disabled] or [any html property] so this [] tells angular that this is 
        property binding. -->
        <!-- <input 
        type="text" 
        class="form-control"
        (input)="onUpdateServerName($event)"> -->
        <input
        type="text"
        class="form-control"
        [(ngModel)]="serverName"
        >
        <button class="btn btn-primary" [disabled]='allowNewServer'
        (click)="onCreateServer()">Add Server</button>
        <p>{{ serverName }}</p>
        <p>Server status: {{ serverStatus }}</p>
        <p style="color: red" [innerText]="allowNewServer"></p>
        <app-server></app-server>
        <app-server></app-server>
    </div>
</div>