<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
        <h3>in the Servers component now</h3>
        <!-- [disabled] or [any html property] so this [] tells angular that this is 
        property binding. -->

        <button class="btn btn-primary" [disabled]='allowNewServer'
        (click)="onCreateServer()">Add Server</button>
        <p>Server status: {{ serverStatus }}</p>
        <p style="color: red" [innerText]="allowNewServer"></p>
        <app-server></app-server>
        <app-server></app-server>
    </div>
</div>